
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight:bold;
  margin-block: .67em;
}

.Price {
  text-size-adjust: 20;
  font-size: x-large;
  font-weight: bolder;
}

.link {
  color: #1c92c0;
}

