
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.h1 {
  display: block;
  font-size: 2em;
  font-weight:bold;
  margin-block: .67em;
}

.Price {
  text-size-adjust: 20;
  font-size: x-large;
  font-weight: bolder;
}

.link {
  color: #1c92c0;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}

.search {
  font-weight: bold;
  text-align: center;
}

.sub {
  font-weight: bold;
}

.large {
  font-weight: bold;
  font-size: larger;
}